aiohttp==2.0.6
async-timeout==1.2.0
chardet==2.3.0
click==6.7
Cython==0.25.2
Flask==0.12.1
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
multidict==2.1.4
PyYAML==3.12
requests==2.13.0
six==1.10.0
tornado==4.4.3
websockets==3.3
Werkzeug==0.12.1
yarl==0.10.0
