{% extends "layouts/layout.jinja2" %}

{% block headDependencies %}
{% include "partials/headDependencies.jinja2" %}
{% endblock %}


{% block content %}
{% include "pages/item.jinja2" %}
{% endblock %}


{% block bodyDependencies %}
{% include "partials/bodyDependencies.jinja2" %}
{% endblock %}