<script src="{{ url_for('Select-Print.static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('Select-Print.static', filename='owl.carousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('Select-Print.static', filename='js/main.js') }}"></script>
