<link rel="stylesheet" href="{{ url_for('Select-Print.static', filename='skeleton/normalize.css')}}">
<link rel="stylesheet" href="{{ url_for('Select-Print.static', filename='skeleton/skeleton.css')}}">
<link rel="stylesheet" href="{{ url_for('Select-Print.static', filename='owl.carousel/owl.carousel.css')}}">
<link rel="stylesheet" href="{{ url_for('Select-Print.static', filename='css/main.css')}}">