<div class="ten columns offset-by-one item__image">
  <img class="item__image-ellement" src="{{ url_for('Select-Print.static', filename=items['paths']['image']+item['image-filename']) }}" alt="">
</div>
<br>
<div class="four columns offset-by-four item__heading">
  <h2 class="item__heading-ellement">{{ item.name }}</h2>
</div>
<br>
<div class="six columns offset-by-three item__description">
  <div class="description item__description-ellement">{{ item.description }}</div>
</div>
<br>
<div class="two columns offset-by-five item__button purchase">
  <button class="item__button-ellement">I want it !</button>
</div>